{% extends "auctions/layout.html" %}

{% block subheader %}
<h2 class="main-head">Login</h2>
{% endblock %}
{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

   <p class ="form-footer"> Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>

{% endblock %}